# requirements.txt
streamlit==1.32.2
langchain-community==0.0.24
langchain-groq==0.0.1
langchain-chroma==0.1.4
chromadb==0.4.24
pypdf2==3.0.1
python-dotenv==1.0.1
tomli==2.0.1
huggingface-hub==0.21.4
pydantic==2.6.3
